@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Xinzhou Cui
   Date:  
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {
	height: 100%;
}


/*Body stuff*/
body {
	width: 95%;
	min-width: 640px;
	max-width: 960px;
	min-height: 100%;
	margin: auto;
}
header, ul, nav, li {
	box-sizing: border-box;
}

/* Row Styles */
.row::after {
	clear: both;
	display: table;
	content: "";
}

/* Page Header Styles */
header.row img {
	display: block;
	width: 70%;
	float: left;
}
header.row nav{
	float: left;
	padding: 0 2%;
	width: 30%;
}
header.row nav a {
	display: block;
	width: 100%;
}

/* Horizontal Navigation List Styles */
nav.horizontal li{
	display: block;
	width: 12.5%;
	float: left;
}

/* Topics Styles */
ul#topics li{
	display: block;
	width: 20%;
	float: left;
	margin-left: 0;
	margin-right: 1.5%;
}
ul#topics li:first-of-type {
	margin-left: 7.75%;
}
ul#topics li:last-of-type {
	margin-right: 7.75%;
}
ul#topics img {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
/* HR Styles */
hr {
	width: 50%;
}

/* Customer Comment Styles */
ul#comments {
	width: 75%;
	margin: 40px auto;
}
#comments li {
	display: block;
	width: 50%;
	margin-bottom: 30px;
	float: left;
}
#comments img {
	float: left;
	display: block;
	width: 20%;
	margin-left: 5%;
	margin-right: 5%;
}
#comments p{
	float: left;
	width: 70%;
}

/* Footer Styles */
footer {
	clear: both;
}